[Desktop Entry]
Type=Application
Version=1.0
Name=Install DakuOS
GenericName=DakuOS Installer
Exec=calamares-install-debian
Comment=Install DakuOS to your hard drive
Keywords=calamares;system;install;dakuos;installer
Icon=install-dakuos
Terminal=false
Categories=Qt;System;Settings;
StartupWMClass=calamares
StartupNotify=True
